header.top {
  padding-top: 140px;
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #104a73;
  background-image: url('../images/bg-leaves.png');
}

.light {
  font-weight: normal;
  color: white;
}