/* Styling for the body of the page, mostly the main section */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #104a73;
  background-color: #bdcdde;
  font-size: 24px;
  font-family: 'Source Sans Pro', Sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 1em 0 1em;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

h2 {
  color: #104a73;
  text-align: center;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}