#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20629c;
  color: white;
  height: 120px;
  width: 100%;
  padding: 0 5% 0 5%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
}

.fadenav {
  z-index: 2;
}

#writenew {
  padding-top: 1em;
  position: relative;
  font-size: 18pt;
  cursor: pointer;
}

#arrow-icon {
  color: #9cd5f6;
  display: flex;
  justify-content: center;
}

#up-arrow {
  /* display: none; */
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  font-size: 40pt;
  opacity: 0;
  /* opacity: 0.75; */
}

#logo, a:link, a:visited {
  font-family: 'Bungee', cursive;
  color: white;
}

img.profile {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%
}